BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
ColumnLimit: 100
BreakBeforeBraces: Attach
InsertBraces: true
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
IndentCaseLabels: false
NamespaceIndentation: None
PointerAlignment: Left
ReferenceAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
